.base-image-text {
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white; 
}

.left-image {
    flex-direction: row;
}
.right-image {
    flex-direction: row-reverse;
}
.up-image {
    flex-direction: column;
}
.down-image {
    flex-direction: column-reverse;
}