.base-image-text {
    grid-template-columns: 1fr 1fr;
    width: 75%;

    align-items: center;
    justify-content: center;
    display: grid;

    margin: 0 auto;
    
    font-size: calc(10px + 1vmin);
    color: white;
}

.base-image-text.left-image>img {
    grid-column: 1;
    margin: 0 auto;
}

.base-image-text.left-image>p {
    grid-column: 2;
    grid-row: 1;
}

.base-image-text.right-image>img {
    grid-column: 2;
    margin: 0 auto;
}

.base-image-text.right-image>p {
    grid-row: 1;
    grid-column: 1;
}