.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  background-color: #282c34;
  color: white;
  min-height: 150vh;
}

.base-paragraph {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 15px;
}

#imageGameObject {
  height: 15vh;

  transition: transform .15s ;
  transition-delay: .05s;
  transition-timing-function: ease-in-out;

  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to left, darkblue, darkorchid) 1;
}

#imageGameObject:hover {
  transform: scale(1.11);

  transition: transform .15s ;
  transition-delay: .05s;
  transition-timing-function: ease-in-out;
}

#imageEngine {
  height: 50vh;

  transition: transform .15s ;
  transition-delay: .05s;
  transition-timing-function: ease-in-out;

  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}

#imageEngine:hover {
  transform: scale(1.11);

  transition: transform .15s ;
  transition-delay: .05s;
  transition-timing-function: ease-in-out;
}

#imageImpact {
  height: 40vh;

  transition: transform .15s ;
  transition-delay: .05s;
  transition-timing-function: ease-in-out;

  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}

#imageImpact:hover {
  transform: scale(1.11);

  transition: transform .15s ;
  transition-delay: .05s;
  transition-timing-function: ease-in-out;
}

#imageP2D {
  height: 40vh;

  transition: transform .15s ;
  transition-delay: .05s;
  transition-timing-function: ease-in-out;

  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to left, darkblue, darkorchid) 1;
}

#imageP2D:hover {
  transform: scale(1.11);
  
  transition: transform .15s ;
  transition-delay: .05s;
  transition-timing-function: ease-in-out;
}